@model IEnumerable<WebApplication4.Models.EMPDATA>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Empno</td>
            <td>Ename</td>
            <td>Job</td>
            <td>Mgr</td>
            <td>HireDate</td>
            <td>Sal</td>
            <td>Comm</td>
            <td>Deptno</td>
        </tr>
        @if (Model != null)
        {
            foreach (var E in Model)
            {
                <tr>
                    <td>@Html.RadioButton("rdbEmp", E.EMPNO, new { onclick = "func(this.value);" })</td>
                    <td>@E.EMPNO</td>
                    <td>@E.ENAME</td>
                    <td>@E.JOB</td>
                    <td>@E.MGR</td>
                    <td>@E.HIREDATE</td>
                    <td>@E.SAL</td>
                    <td>@E.COMM</td>
                    <td>@E.DEPTNO</td>
                </tr>
            }


        }



    </table>
   

}
<script>
    function func(eno)
    {
        alert(eno);
        window.location.href = "/Sample/ExtractEmp2?E=" + eno;

    }




</script>